body {
  background-image: url(Assents/bcg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: none;
}

#logo {
  border: 1px solid white;
  width: 30dvw;
  height: 10dvh;
  display: block;
  margin: 0 auto;
}

.container {
  display: grid;
  gap: 1.5rem;
  justify-items: left;
  padding: 0 6%;
  border: 1px solid yellow;
}

#ilustracao {
  display: block;
  margin: 0 auto;
  height: 35dvh;
}

.conatiner_grupo{
  display: grid;
  align-items: center;
  justify-content: center;
}

.grupo_descricao {
  display: flex;
  flex-direction: column;
  width: 69dvw;
  margin-top: -1.5rem;
  color: #FFFFFF;
  gap: 1rem;
}

.grupo_descricao>h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
}

.grupo_descricao>h1 {
  width: 70dvw;
  font-family: "Andada Pro";
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
}

.grupo_descricao>p {
  width: 80dvw;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.botoes {
  display: grid;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.botoes>button{
  width: 69dvw;
  height: 5dvh;
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: center;
}

#assistir_agora{
  display: flex;
  background: #F1A5B1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}