body{
  background-image: url(Assents/bcg-desktop.svg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.social{
  display: none;
}

#logo{
  border: 1px solid white;
  width: 30dvw;
  height: 10dvh;
  display: block;
  margin: 0 auto;
}

.container{
  border: 1px solid yellow;
}

#ilustracao{
  display: block;
  margin: 0 auto;
  height: 38dvh;
}

