body {
  background-image: url(Assents/bcg-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: none;
}

#logo {
  width: 30dvw;
  height: 10dvh;
  display: block;
  margin: 0 auto;
}

.container {
  display: grid;
  gap: 1.5rem;
  justify-items: left;
  padding: 0 6%;
  border: 1px solid yellow;
}

#ilustracao {
  display: block;
  margin: 0 auto;
  height: 35dvh;
}

.conatiner_grupo {
  display: grid;
  align-items: center;
  justify-content: center;
}

.grupo_descricao {
  display: flex;
  flex-direction: column;
  width: 69dvw;
  margin-top: -1.5rem;
  color: #FFFFFF;
  gap: 2rem;
}

.grupo_descricao>h4 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
}

.grupo_descricao>h1 {
  width: 53dvw;
  font-family: "Andada Pro";
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
}

.grupo_descricao>p {
  width: 80dvw;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.botoes {
  display: grid;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  gap: 1.5rem;
}

.botoes>button {
  width: 85dvw;
  height: 6dvh;
  border-radius: 6px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  text-align: center;
}

#assistir_agora {
  display: flex;
  background: #F1A5B1;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#assista_o_trailer {
  background: none;
  border: 2px solid #F1A5B1;
  color: #FFFFFF;
}

@media(min-width: 640px) {

  header {
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
  }

  .social {
    display: flex;
    height: 3.5vh;
    gap: 2rem;
  }

  #logo {
    margin-left: 0rem;
    height: 9vh;
  }
  .container{
    justify-items: center;
  }

  .grupo_descricao{
    width: 60vw;
  }

  .grupo_descricao>h1{
    width: 31vw;
  }

  .grupo_descricao>p{
    width: 60vw;
  }

  .botoes>button{
    width: 60vw;
  }
}

@media (min-width: 1024px){
  header{
    padding: 2.5rem 14rem;
  }

  .social {
    height: 4.5vh;
  }

  #logo {
    margin-left: -7rem;
    height: 9vh;
  }
}